<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
</head>
<body>
    <div id="app">
        <div v-show="show">
            <h1>Hello Vue ;)</h1>
        <h2>{{title}} {{age}}</h2>      
        </div>
<!-- 
        <button v-on:click="age++">Up</button>
        <button @click="age--">Down</button>

        <button @click="changeTitle">Change Title</button>
        <input type="text" v-model="title"> -->

        <!-- Show i true of false -->
        <button @click="showItems">
            <span v-show="show">Hide</span>
            <span v-show="!show">Show</span>
            <!-- <span v-show="!show">Show</span> -->
        </button>

        <!-- <div v-if="show">
               <h2>{{title}} {{age}}</h2>
        </div>
        <div v-else>

        </div> -->
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="./app.js"></script>
</body>
</html>