<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Test</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <h1>Hello Vue</h1>
    <!-- <div id="app">
        <p>{{title}}-{{author}}-{{age}}</p>
        <button v-on:click="age++">Increase age</button>
        <button @click="age--">Decrease age</button>
        <div @click="changeTitle('Pies')">Change Title</div>
    </div> -->
    <div id="app">
        <div v-if="show">
            <p>{{title}}-{{author}}-{{age}}</p>
        </div>
        <button @click="toggleShow">
            <span v-if="show">Hide Book</span>
            <!-- <span v-if="!show">Show Book</span> -->
            <span v-else>Show Book</span>
        </button>

        <br>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>

        <!-- V show using css display block and display none -->
        <div v-show="show">
            Currently showing books
        </div>
        <div v-show="!show">
            Currently Not books
        </div>
    </div>
    <!-- Vue JS -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- My JS -->
    <script src="./app.js"></script>
</body>

</html>