.box{
    padding: 100px 0;
    width: 400px;
    text-align: center;
    background: green;
    margin: 20px;
    display: inline-block;
    border-radius: 30px;
}
li{
    list-style: none;
}
li>h3{
    color: pink;
}